.Receitas{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    align-items: flex-start;
    padding: 0 2em;
    margin: 1em auto;
    justify-content: center;
    justify-items: center;
    width:75%;
}

.outrasreceitas{
    display: grid;
    grid-auto-flow: row;
    vertical-align: top;
    padding:1em;
    justify-items: center;
    width: auto;

}

.receitaprincipal{
    margin:auto;
    padding:1em;
}

.footerreceita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 8em;
    font-family: var(--fonte-paragrafos-receitas);
    color: white;
    padding: 0 6em;
    width:50%;
    margin: auto;

    button{
        color: white;
        height: 2em;
        width: 10em;
    }
}