@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Nunito:wght@300&display=swap');

:root {
  --fonte-titulos-receitas: 'IBM Plex Mono', monospace;
  --fonte-paragrafos-receitas: 'Nunito', sans-serif;
  --laranja-receitas: #FF7600;
  --verde-receitas: #00614C;
  --amarelo-receitas: #FFAE00;
  --vermelho-receitas: #FC4B3C;
}

body{
  width: 100%;
  margin: auto; 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

*{
  margin: 0;
  padding:0;
  box-sizing: content-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--fonte-titulos-receitas);
}

h2 {
  font-size: 1.6em;
  line-height: 1.1;
  font-family: var(--fonte-titulos-receitas);
}

p{
  font-family: var(--fonte-paragrafos-receitas);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--laranja-receitas);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--amarelo-receitas);
  border-color: #862708;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}