.conteudoreceita{
    display:flex;
    flex-direction: column;

    margin: auto;
    background-color: var(--vermelho-receitas);
    border-radius: 1em;
    overflow: hidden;

    .imagemreceita{
        overflow: hidden;
        height:30em;
    }

    .textoreceita{
        margin:1em;
    }

    .info{
        display: flex;
    }

    .iconetempo{
        display: grid;
        
        grid-auto-flow: column;
        margin: 0 2em;

        p{
            margin: auto;
            padding-left: 0.5em;
        }
        img{
            width: 3em;
        }
    }

    .iconeporcoes{
        display: grid;
        grid-auto-flow:column;
        margin: auto 2em;

        p{
            margin: auto;
            padding-left: 0.5em;
        }

        img{
            width: 3em;
        }
    }

    img{
        border-radius:1em 1em 0 0 ;
        transition: all 1s cubic-bezier(0.2, 0, 0.08, 1);
        overflow: hidden;
        width: 100%;
    }

    img:hover{
        transition: all 1s cubic-bezier(0.2, 0, 0.08, 1);
        transform: scale(1.1);
    }

    h1{
        margin:0.5em;
        color: white;
    }

    h2{
        margin:1em;
        color: var(--amarelo-receitas);
    }

    p{
        color: white;
        font-size: 16pt;
        margin:1em;
    }

    .rodapeilustracao{
        height: 2.5em;
        width: 100%;
        background-position-y: -1.25em;
        background-image: url("https://marciomedeirosdesign.com.br/nucleoweb/receitasapi/imgs/ilustracoes.jpg");
    }
}